:root{
    --bg-primary: #282828;
    --bg-secondary: #3c3836;
    --color-red: #cc241d;
    --color-orange: #d65d0e;
    --color-yellow: #d79921;
    --color-green: #98971a;
    --color-blue: #458588;
    --color-purple: #b16286;
    --color-aqua: #689d6a;
    --color-gray: #928374;
    --color-white: #ebdbb2;

    --font-body-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--bg-primary);
    color: var(--color-white);
    font-family: var(--font-body-primary);

    padding-left: 100px;
    padding-right: 60%;
}

@media (max-width: 1100px) {
    body{
        padding-right: 30%;
    }
  }

footer{
    margin-top: 30px;
    margin-bottom: 30px;
}

.headingText{
    font-size: 55px;
}

.sectionHeadingText{
    font-size: 35px;
}

.sectionText{
    font-size: 20px;
    justify-content: left;
    padding-left: 50px;
}


/* Font Colors */
.coloredYellow{
    color: var(--color-yellow);
}

.coloredGreen{
    color: var(--color-green);
}

.coloredBlue{
    color: var(--color-blue);
}

.coloredAqua{
    color: var(--color-aqua);
}

.coloredPurple{
    color: var(--color-purple);
}


/* Font Weight */
.normal{
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}



.mr-15{
    margin-right: 15px;
}

/* Link Style */
a{
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover{
    color: var(--color-aqua);
}