@font-face {
    font-family: GaramondClassicoSC;
    src: url(Garamond\ Classico\ SC\ Regular.ttf);
}

@font-face {
    font-family: FunnelDisplay;
    src: url(FunnelDisplay-VariableFont_wght.ttf);
}

:root {
    --background-texture: url(https://cdn.discordapp.com/attachments/973212111859757066/1307642058520920206/table-texture.jpg?ex=673b0c11&is=6739ba91&hm=21b758172e8817d5fe9f33f02660f348b696c7c1640fc37a3dfc9123ee1f90f4&);
    --card-width: 600px;
    --card-height: 300px;
    --card-texture: url(https://cdn.discordapp.com/attachments/973212111859757066/1307642057900429312/card-texture.jpg?ex=673b0c11&is=6739ba91&hm=75cec055bc281e00dfd9b125610216aa7b4abec2a2a4cfb689548fe0e76afe88&);
    --text-color: #483f2b;
    --font-primary: "GaramondClassicoSC";
    --font-sliding-paper: "FunnelDisplay";
    --paper-background: #f4f1ea;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-smooth: always;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    background-image: var(--background-texture);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    overflow-x: hidden;
    position: relative;
}

.page-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hint {
    color: beige;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    position: absolute;
    top: -30px;
    width: 100%;
}

.name-container a {
    color: var(--text-color);
    text-decoration: none;
    transition: text-shadow 0.2s;
}

.name-container a:hover {
    text-shadow: 0px 0px 2px var(--text-color);
}

.email a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    /* Change gradient direction and color stops */
    background: linear-gradient(
        90deg,
        var(--text-color) 0%,
        var(--text-color) 50%,
        transparent 50%,
        transparent 100%
    );
    background-size: 200% 1px;
    background-position: 100% 100%; /* Start from right */
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
    padding-bottom: 2px;
}

.email a:hover {
    background-position: 0% 100%;
}

.container {
    perspective: 1000px;
    margin: 20px;
    position: relative;
    z-index: 1;
}

/* Business Card Styles */
.business-card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
}

.front-shadow,
.back-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    z-index: -1;
}

.business-card:hover .front-shadow,
.business-card:hover .back-shadow {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}

.business-card.flipped .card-inner {
    transform: rotateY(-180deg);
}

.card-front,
.card-back {
    background-image: var(--card-texture);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.card-front {
    gap: 8px;
}

.card-back {
    transform: rotateY(180deg);
}

.card-front .status {
    text-align: right;
}

.status {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 22px;
    color: var(--text-color);
}

.name-container {
    color: var(--text-color);
    text-align: center;
    margin-top: 115px;
}

.name {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.title {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 24px;
}

.contact-info {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 40px;
}

.email {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 18px;
    color: var(--text-color);
}

.address {
    font-size: 16px;
    color: var(--text-color);
}

.watermark {
    font-size: 14px;
    color: rgba(43, 43, 43, 0.5);
}

.click-me {
    color: beige;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 100%;
}

.sliding-paper {
    font-family: var(--font-sliding-paper);
    position: fixed;
    right: -50%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 600px;
    height: 80vh;
    background: var(--paper-background);
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease;
    z-index: 10;
}

.sliding-paper.peek {
    right: 0;
}

.tab {
    position: absolute;
    right: 0;
    top: 30%;
    width: 50px;
    height: 100px;
    background: var(--paper-background);
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 11;
    transition: background 0.2s ease;
}

.tab:hover {
    background: #483f2b;
}

.tab:hover .arrow-icon {
    fill: var(--paper-background);
}

.arrow-icon {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
    transition: transform 0.3s ease;
}

.sliding-paper.active .arrow-icon {
    transform: rotate(180deg);
}

.paper-content {
    padding: 40px;
    height: 100%;
    overflow-y: hidden;
}

.paper-content h2 {
    color: var(--text-color);
    font-size: 2em;
    margin-bottom: 20px;
}

.paper-content p {
    color: var(--text-color);
    margin-bottom: 20px;
    line-height: 1.6;
}

.paper-content ul {
    list-style-position: inside;
    margin-bottom: 20px;
}

.paper-content li {
    color: var(--text-color);
    margin-bottom: 10px;
}

.skills {
    margin-top: 30px;
}

.skills h3 {
    color: var(--text-color);
    margin-bottom: 15px;
}

.skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-tags span {
    color: var(--text-color);
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
}

.skill-tags .great {
    background: rgba(72, 143, 45, 0.3);
    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease;
}

.skill-tags .great:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(50, 120, 35, 0.3);
}

.skill-tags .good {
    background: rgba(180, 120, 45, 0.3);
    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease;
}

.skill-tags .good:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(140, 80, 25, 0.3);
}

.skill-tags .learning {
    background: rgba(180, 63, 43, 0.3);
    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease;
}

.skill-tags .learning:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(140, 35, 35, 0.3);
}

.credits {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: beige;
    font-size: 14px;
}

.credits a {
    color: #768bb5;
    text-decoration: none;
    transition:
        opacity 0.2s,
        color 0.2s;
}

.credits a:hover {
    color: #304775;
    opacity: 0.8;
}

.card-back .name-container {
    text-align: left;
    margin-top: 115px;
    font-size: 22px;
    line-height: 1.2;
}

.card-back .name-container div {
    margin-bottom: 10px;
}

.card-back .contact-info {
    margin-top: 70px;
}

@media (max-width: 1200px) {
    .sliding-paper {
        right: -100%;
    }

    .tab {
        width: 45px;
        height: 95px;
    }
}

@media (max-width: 800px) {
    .sliding-paper {
        right: -95%;
    }

    .tab {
        width: 40px;
        height: 90px;
    }
}

@media (max-width: 640px) {
    :root {
        --card-width: 320px;
        --card-height: 180px;
    }

    .card-front,
    .card-back {
        padding: 20px 30px;
    }

    .name {
        font-size: 24px;
    }

    .title {
        font-size: 14px;
    }

    .email,
    .status {
        font-size: 12px;
    }

    .email {
        top: 10px;
        left: 15px;
    }

    .status {
        right: 15px;
        top: 10px;
    }

    .name-container {
        margin-top: 65px;
    }

    .contact-info {
        margin-top: 0px;
    }

    .card-back .contact-info {
        margin-top: 30px;
    }

    .card-back .name-container {
        margin-top: 65px;
        font-size: 14px;
        line-height: 1.2;
    }

    .address {
        font-size: 12px;
    }

    .watermark {
        font-size: 10px;
    }

    .sliding-paper {
        max-width: 100%;
        right: -100%;
        height: 90vh;
    }

    .tab {
        width: 35px;
        height: 80px;
    }

    .paper-content {
        padding: 20px;
    }

    .paper-content h2 {
        font-size: 1.5em;
    }

    .skill-tags span {
        font-size: 0.8em;
        padding: 4px 12px;
    }
}
